<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filmontology</title>
    <link href="/layout.css" rel="stylesheet" />
    <link
      href="'https://fonts.googleapis.com/css2?family=DM+Sans&display=swap'"
      rel="stylesheet"
    />
  </head>

  <body class="font-display flex flex-col min-h-screen">

    <!-- Navbar -->
    <header>
      <nav class="navbar navbar-expand-lg shadow-md py-5 bg-white relative flex items-center w-full justify-between">
        <div class="px-12 w-full flex flex-wrap items-center justify-between">
          <a href="/"><h1 class="text-2xl font-medium">NightOn</h1></a>
        </div>
      </nav>
    </header>

    <main class="flex-grow">
      {{{body}}}
    </main>

    <footer class="flex left-0 z-20 p-4 w-full bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
      <p class="text-lg">Next Generation Web Project</p><br />
      <p class="text-base">Created at Jönköping University, Sweden 2022 Autumn</p>
      <p class="text--base">Steven Zheng, Ráhel Balogh, Máté Kézy</p>
    </footer>

  </body>
</html>