<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Filmontology</title>
		<link rel="stylesheet" href="/layout.css" />
	</head>
	<body>

		<header>
			<a href="/">NightOn</a>
		</header>

		<nav>
			{{!--  <a href="/profiles">Profiles</a>--}}
		</nav>

		<main>
			<div class="main-content">
				{{{body}}}
			</div>
		</main>

		<footer>
			Copyright: Steven Zheng, Ráhel Balogh, Máté Kézy, 2022
			<p>Jönköping University</p>
			{{!--  <a href="/about">About</a>--}}
		</footer>

	</body>
</html>