<h1>Welcome to our movie recommender!</h1>
<h3>On our website you will find personalised movie recommendations based on
  your favourite genres</h3>
<nav>
   <a href="/profiles">Let's get started</a>
</nav>